.app-header {
  background-color: #6e0a27;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}


.till-title {
  position: relative;
  left: 4.5rem;
  top: 0.3rem;
}


