html {
  Font-size: calc(10px + 0.5vw);
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fadde1;
  background-image:  url('../assets/background-web.svg');;
  direction: rtl;
  overflow: hidden;
  background-size: cover; /* התאמת התמונה לכל המסך */
  background-position: center; /* מיקוד במרכז */
  background-repeat: no-repeat; /* ללא חזרה */
  height: 100%;
  width: 100%;
}

header { 
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('../assets/background-phone.svg');
  }
}