html {
  Font-size: calc(10px + 0.5vw);
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fadde1;
  direction: rtl;
  overflow: hidden;
}

header { 
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}